


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: green;
    -webkit-animation: flash 2s infinite;
        animation: flash 2s infinite;
}



li.dropdown {
    display: inline-block;
    -webkit-animation: flash 5s infinite;
        animation: flash 5s infinite;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(89,0,0,0.01);
    min-width: 160px;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.5);
    z-index: 1;

}

.dropdown-content a {
    color: lightgreen;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content a:hover {background-color: darkgreen}

.dropdown:hover .dropdown-content {
    display: block;
}



@keyframes flash {
    0%   {top: 0px; background: green;}
    100% {top: 0px; background: yellowgreen;}

@-webkit-keyframes flash {
    0%   { background: green;}
    100% { background: yellowgreen;}


/*******************************************************************************/


/*******************************************************************************/